.sidebar {
    background-color: #FFFFFF;
    padding: 20px;
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow-y: auto;
}

.user-item {
    background-color: transparent;
    border-radius: 0px;
    margin-bottom: 0px;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    transition: background-color 0.2s ease;
}

.user-item:hover {
    color: #666;
}

.user-img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
    object-fit: cover;
}

.user-name {
    font-size: 16px;
    color: #333;
    flex-grow: 1;
}

.users-list {
    list-style: none;
    padding-left: 0;
}
